h1{
    color:brown;
    font-size: xx-large
}
table{
    align-items: center;
}

.done {
    background-color: rgb(87, 13, 44);
   
   }

body {
    background-color: rgb(133, 167, 148);
}
.table{
    background-color: rgb(169, 162, 211);
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}