h1{
    color:brown;
    font-size: xx-large
}
table{
    align-items: center;
}

.done {
    background-color: rgb(241, 244, 201);
    /* text-decoration: line-through; */
   
   }

body {
    background-color: rgb(17, 19, 18);
}
#table{
    
    background-color: rgb(180, 177, 198);
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

  table tr:nth-child(even){
    background-color: rgb(99, 93, 138);
}
.table-hover > tbody > tr:hover {
    background-color: #faf4c0;
  }
thead{
    background-color: rgb(99, 93, 138)
}